body {
  font-family: "lato";	
}

.is-raleway {
  font-family: "Raleway";
}

.wrapper {
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  margin: 0 auto;
  vertical-align: middle;
}

.wrapper .header,
.wrapper .main,
.wrapper .footer {
  width: 100%;
  box-sizing: border-box;
}

.header {
  background-color:#fff;
  position: fixed;
  z-index: 1;
}

.header-inner {
  padding: 15px;
}

.header-inner__icon {
  float: left;
}

.header-inner__btn {
  float: right;
  font-size: 12px;
}

.main {
  background-color: #f2f2f2;
  padding-top: 78px;
}

.mv .inner {
  text-align: center;
}

.theme-main__text {
  color: #74cfae;
  font-weight: 700;
}

.theme-sub__text {
  color: #c0c0c0;
  font-size: 30px;
}

.separator {
  background-color: #74cfae;
  display: flex;
  text-align: center;
}

.separator-inner {
  padding-top: 50px;
}

.separator .logo {
  align-items: center;
  line-height: 0;
  width: 38%;
}

.description {
  margin-top: 20px;
}

.description-title {
  color: #fff;
  font-size: 24px;
}

.description-title-lead {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 35px;
}

.content-inner {
  padding: 60px 0 70px 0;
  text-align: center;
}

.content-heading__text {
  font-size: 24px;
}

.content__item__wrap {
  margin-top: 40px;
}

.content__item__wrap li {
  line-height: 0;
  opacity: 0.7;
  text-align: center;
  transition: 0.3s;
}

.content__item__wrap li:hover {
  opacity: 1;
}

.content__detail {
  margin: 0 auto;
  width: 75%;
}

.content-headline {
  line-height: 1.5;
  text-align: center;
}

.content-headline__text {
  font-size: 20px;
}

.content__item__btn a { 
  background-color: #74cfae;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  transition: 0.3s;
  text-decoration: none;
  white-space: nowrap;
}

.content__item__btn a:hover {
  color: #333;
}

.content__skill { 
  background-color:#4e4e4e;
}

.content__list-inner {
  padding: 70px 0 100px 0;
  text-align: center;
}

.content__list__text {
  color: #fff;
  font-size: 20px;
}

.content__skill .item-wrap figcaption {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.content__skill .item-wrap {
  margin-top: 40px;
}

.content__skill .item-wrap .item {
  text-align: center;
}

.nav ul li {
  align-items: center;
  background: transparent;
  color: #74cfae;
  display: flex;
  height: 115px;
  justify-content: center;
  transition: 0.3s;
}

.nav ul li:hover {
  background-color: #fff;
  color: #74cfae;
  cursor: pointer;
  height: 115px;
}

.nav ul a{
  text-decoration: none;
  color: #74cfae;
}

.footer {
  background-color:#74cfae;
}

.footer-inner {
  text-align: right;
  padding: 20px 0 25px 0;
}

.footer-inner-text {
  color: #fff;
}


/* PCーーーーーーーーーーーーーーーーー */
@media screen and (min-width:1200px) {
  .inner {
    max-width: 100%;
    width: 1100px;
  }

  .show-tab {display: none !important;}
  .show-sp {display: none !important;}
  .show-pc {display: block !important;}

  .header-inner__btn a {
    background-color: #74cfae;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 14px 12px;
    text-decoration: none;
    transition: 0.3s;
  }

  .header-inner__btn a:hover {
    color: #333;
  }

  .mv-inner {
    padding: 250px 0;
  }

  .theme-main__text {
    font-size: 90px;
  }

  .separator .logo {
    float: left;
  }

  .description {
    float: left;
    width: 62%;
  }

  .content__item__wrap {
    align-items: center;
    justify-content: center;
  }

  .content__item__wrap li {
    float: left;
    margin-left: 100px;
  }

  .content__item__wrap li:nth-child(1),li:nth-child(4) {
    margin-left: 0;
  }

  .content__item__wrap li:nth-last-child(-n+3) {
    margin-top: 80px;
  }

  .content__item__wrap a {
    padding-top: 281px;
  }

  .content__detail {
    display: flex;
    margin-top: 90px;
  }

  .content-headline {
    line-height: 1.5;
  }

  .content-headline__text {
    float:left;
  }

  .content__item__btn {
    margin-left: 90px;
  }

  .content__item__btn a {
    float:left;
  }

  .content__skill .item-wrap {
    display: flex;
    justify-content: space-around;
  }


  .nav-inner__btn {
    padding: 200px 0;
  }

  .nav ul {
    display: flex;
    justify-content: center;
  }

  .nav ul li {
    width: 185px;
  }

  .nav ul li:hover {
    width: 185px;
  }
}

/* tab--------------------------- */
@media screen and (min-width:768px) and (max-width:1199px) {
  .inner {
    max-width: 97%;
  }
  .show-pc {display: none !important;}
  .show-sp {display: none !important;}
  .show-tab {display: block !important;}

  .header-inner__btn {
    background-color: #74cfae;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
  }

  .header-inner__btn a {
    color: #fff;
    display: block;
    padding: 14px 12px;
    text-decoration: none;
    transition: 0.3s;
  }

  .header-inner__btn a:hover {
    color: #333;
  }

  .mv-inner {
    padding: 250px 0;
  }

  .theme-main__text {
    font-size: 90px;
  }

  .theme-main__text {
    font-size: 80px;
  }

  .separator-inner {
    padding-bottom: 25px;
  }

  .content__item__wrap li:nth-child(4) {
    margin-top: 80px;
  }

  .content__detail {
    margin-top: 80px;
  }

  .content__item__btn {
    margin-top: 40px;
  }

  .item-wrap .item {
    margin-top: 88px;
  }

  .item-wrap .item:first-child {
    margin-top: 0;
  }

  .nav-inner__btn {
    padding: 200px 0;
  }

  .nav ul {
    display: flex;
    justify-content: center;
  }

  .nav ul li {
    width: 185px;
  }

  .nav ul li:hover {
    width: 185px;
  }
}


/* sp--------------------------- */
@media screen and  (max-width:767px) {
  .inner {
    max-width: 97%;
  }
  .show-pc {display: none !important;}
  .show-tab {display: none !important;}
  .show-sp {display: block !important;}

  .header-inner__btn {
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 10px;
  }

  .header-inner__btn span {
    background-color: #ddd;
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 3px;
    border-radius: 3px;
  }

  .header-inner__btn span:first-child {
    margin-top: 0;
  }

  .mv-inner {
    padding: 160px 0 130px 0;
  }

  .theme-main__text {
    font-size: 80px;
  }

  .separator-inner {
    padding-bottom: 25px;
  }

  .content__item__btn {
    margin-top: 40px;
  }

  .content__item__wrap li:nth-child(4) {
    margin-top: 80px;
  }

  .content__detail {
    margin-top: 80px;
  }

  .item-wrap .item {
    margin-top: 88px;
  }

  .item-wrap .item:first-child {
    margin-top: 0px;
  }

  .nav-inner__btn {
    padding: 50px 15px;
  }

  .nav ul li {
    margin: 0 auto;
    width: 100%;
  }
  
  .nav ul li:hover {
    width: 100%;
  }
}

